<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <h1>Página do Cesar</h1>
    <span>Eu sou o Luiz Cesar, professor de programação do IFF <i>Campus</i> Quissamã.</span>
    <ul>
        <a href="/obj">
            <li>Objetivos</li>
        </a>
        <a href="/tec">
            <li>Tecnologias</li>
        </a>
    </ul>
</body>

</html>