/* Estilo para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para o título da página */
h1 {
    font-size: 36px;
    color: #007BFF;
    text-align: center;
    padding: 20px 0;
    background-color: #999;
}

/* Estilo para a descrição */
span {
    display: block;
    font-size: 18px;
    color: #666;
    text-align: center;
}

/* Estilo para a lista de links */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Estilo para os itens da lista */
li {
    margin: 10px 0;
}

/* Estilo para a lista ordenada de objetivos e tecnologias */
ol {
    list-style-type: decimal;
}

/* Estilo para o link de retorno */
tt a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
}