<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sorteio</title>
</head>

<body>
  <h1>Sorteio</h1>
  <form action="/acertei" method="get">
    <label for="numPedido">Escolha um número de 1 a 100:</label>
    <input name="numPedido" id="numPedido" type="number" placeholder="Digite o número aqui" required>
    <br>
    <br>
    <%=resultado%>
    <br>
    <input type="submit" id="1a20">
  </form>
</body>

</html>