<html>
    <head>

    </head>
    <body>
        Qual é o seu nome?
        <form method="post" action="/saudar">
            <input type="text" name="pessoa">
            <input type="submit">
        </form>
    </body>
</html>